@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  background-color: #b394c9;
  font-family: "Amatic SC";
  background-image: url("../assets/lotto-2.png");
  background-repeat: repeat;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) calc(450px + 2rem) minmax(0, 1fr);
  width: 90vw;
  height: 90vh;
  margin: auto;
  padding: 1rem;
}

.ledertavle {
  grid-column: 2;
  height: 87vh;
  padding: 1rem;
  background-color: black;
  box-shadow: 7px 9px 7px #00000052;
  border-radius: 1rem;
  overflow: hidden;
}

.leader {
  display: flex;
}

.crown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.crown svg {
  width: 3rem;
}

.logo-container {
  font-size: 0px;
  text-align: center;
  padding: 0 5rem 0 1rem;
}

.logo {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.huskeliste {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 7px 9px 7px #00000052;
}

.total,
.change,
.gevinst7 {
  text-align: right;
}

.change {
  display: inline-flex;
  align-items: center;
}

.gevinst7 {
  color: yellow;
}

.container .image {
  height: 58px;
  object-fit: cover;
  width: 58px;
  background-color: black;
  border-radius: 50%;
}
.container .topLeadersList {
  display: flex;
  position: relative;
  min-height: 120px;
  padding-top: 1rem;
}
.container .topLeadersList .image {
  border-radius: 50%;
  border: 3px solid #e7193f;
}
.container .topLeadersList .leader:nth-child(1) {
  color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.container .topLeadersList .leader:nth-child(1):after {
  content: "1";
  width: 30px;
  height: 30px;
  background: #ffc500;
  border-radius: 50%;
  position: absolute;
  right: 0;
  font-family: sans-serif;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  box-shadow: 1px 1px 4px black;
}
.container .topLeadersList .leader:nth-child(1) .image {
  width: 120px;
  height: 120px;
}
.container .topLeadersList .leader:nth-child(1) .crown {
  top: -20%;
}
.container .topLeadersList .leader:nth-child(1) .crown svg {
  fill: #ffc500;
}
.container .topLeadersList .leader:nth-child(2) {
  color: black;
  position: absolute;
  left: 15%;
  transform: translateX(-15%);
  bottom: -20%;
}
.container .topLeadersList .leader:nth-child(2):after {
  content: "2";
  width: 30px;
  height: 30px;
  background: #d4d4d4;
  border-radius: 50%;
  position: absolute;
  right: 0;
  font-family: sans-serif;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  box-shadow: 1px 1px 4px black;
}
.container .topLeadersList .leader:nth-child(2) .image {
  width: 110px;
  height: 110px;
}
.container .topLeadersList .leader:nth-child(2) .crown {
  top: -25%;
}
.container .topLeadersList .leader:nth-child(2) .crown svg {
  fill: #d4d4d4;
}
.container .topLeadersList .leader:nth-child(3) {
  color: black;
  position: absolute;
  left: 85%;
  transform: translateX(-85%);
  bottom: -20%;
}
.container .topLeadersList .leader:nth-child(3):after {
  content: "3";
  width: 30px;
  height: 30px;
  background: #ab6528;
  border-radius: 50%;
  position: absolute;
  right: 0;
  font-family: sans-serif;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  box-shadow: 1px 1px 4px black;
}
.container .topLeadersList .leader:nth-child(3) .image {
  width: 110px;
  height: 110px;
}
.container .topLeadersList .leader:nth-child(3) .crown {
  top: -25%;
}
.container .topLeadersList .leader:nth-child(3) .crown svg {
  fill: #ab6528;
}
.container .leaderName {
  position: absolute;
  text-align: center;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
}
.container .player {
  background-color: #780629;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  gap: 0.4rem;
  align-items: center;
  min-height: 42px;
  text-align: center;
  padding: 0.4rem 1rem 0 1rem;
}

.player .playerrank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.75rem;
}

.container .player .image {
  width: 28px;
  height: 28px;
  border: 1.5px solid white;
}
.container .table {
  margin-right: 1rem;
  margin-left: 1rem;
  display: grid;
  font-size: 14px;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  gap: 0.4rem;
  text-align: center;
}
.container .table div:nth-child(2) {
  text-align: left;
}

.container .table div:nth-child(3),
.container .table div:last-child {
  text-align: right;
}

.container .table .image {
  width: 20px;
  height: 20px;
}
.container .playerslist {
  margin-top: 0.5rem;
  font-size: 16px;
  overflow: hidden;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.container .playerslist .player:nth-child(odd) {
  background-color: #e7193f;
  align-items: center;
}
.container .user {
  display: flex;
  align-items: center;
  gap: 4px;
}
.container .user img {
  margin-right: 0.5rem;
}
.container .list {
  overflow: auto;
  height: 100%;
  overflow-x: hidden;
}
